In [1]:
#importando e instalando a biblioteca do pandas e a biblioteca de leitura de arquivos do excel
import pandas as pd  
%pip install pandas 
%pip install openpyxl

Requirement already satisfied: pandas in d:\curso\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in d:\curso\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\curso\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\curso\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\curso\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\curso\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in d:\curso\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\curso\.venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# criando a variavel df(dataframe) e atribuindo ao carregamento da planilha 
df = pd.read_excel('dados_carros.xlsx')

In [3]:
# Percorre todas as colunas do seu DataFrame >
# E mostra os tipos de variáveis contidas na planilha.
df.dtypes

Unnamed: 0             int64
modelo                object
preco                  int64
unidades_vendidas      int64
cidade_alcool        float64
cidade_gasolina      float64
estrada_alcool       float64
estrada_gasolina     float64
custo_revisao        float64
dtype: object

In [4]:
# sort_values serve para ordenar os dados do local selecionado,
# reorganizando a planilha com ascending=False para por na ordem decrescente 
# e com o head() será mostrado os 5 primeiros apenas
df.sort_values(by='cidade_gasolina', ascending=False).head()[['modelo', 'cidade_gasolina']]

                 modelo  cidade_gasolina
7          Renault Kwid             15.3
16          Peugeot 208             14.7
20        Renault Logan             14.0
8   Chevrolet Onix Plus             13.8
11          Fiat Cronos             13.8

In [5]:
#Selecionando as colunas com [[]] duplos, o externo para selecionar e 
# o interno para criar a lista de nomes das colunas e 
# uso do mean() para calcular a média entre elas.
# round(2) para diminuir as casas decimais
df[['cidade_alcool', 'estrada_alcool']].mean().round(2)

cidade_alcool     8.73
estrada_alcool    9.90
dtype: float64

In [6]:
#criando uma nova coluna e atribuindo a ela o resultado da separação
# das palavras na coluna modelo, obtendo a ontadora de cada um.
df['montadora'] = df['modelo'].str.split(' ').str[0]

# Reorganiza a ordem das colunas para que 'montadora' apareça ao lado do 'modelo'.
df = df[['Unnamed: 0','montadora', 'modelo', 'preco', 'unidades_vendidas','cidade_alcool', 'cidade_gasolina', 'estrada_alcool', 'estrada_gasolina', 'custo_revisao']]

#exibe a planilha
df

,Unnamed: 0,montadora,modelo,preco,unidades_vendidas,cidade_alcool,cidade_gasolina,estrada_alcool,estrada_gasolina,custo_revisao
0,1,Volkswagen,Volkswagen Polo,79400,16471,9.3,13.5,10.5,15.0,3578.27
1,2,Hyundai,Hyundai HB20,82982,12126,8.5,12.5,9.9,14.1,2946.10
2,3,Fiat,Fiat Strada,100050,10387,8.4,11.9,9.2,13.3,3540.00
3,4,Chevrolet,Chevrolet Onix,83512,10260,9.4,13.5,11.2,16.0,3696.00
4,5,Fiat,Fiat Mobi,62653,8582,9.2,13.5,10.2,15.2,3752.00
5,6,Volkswagen,Volkswagen T-Cross,119620,8553,8.3,10.0,10.0,14.4,4260.70
6,7,Fiat,Fiat Argo,75010,7159,9.3,13.4,10.3,14.6,3780.00
7,8,Renault,Renault Kwid,67672,6602,10.8,15.3,11.0,15.7,3162.95
8,9,Chevrolet,Chevrolet Onix Plus,117486,6412,9.6,13.8,12.5,17.6,3696.00
9,10,Volkswagen,Volkswagen Saveiro,95315,5337,8.1,11.7,9.0,12.8,4117.25
10,11,Hyundai,Hyundai Creta,114010,5314,7.1,10.1,8.1,11.5,3280.16
11,12,Fiat,Fiat Cronos,82316,5036,9.9,13.8,11.3,16.0,3780.00
12,13,Hyundai,Hyundai HB20S,89844,4811,8.5,12.0,9.8,14.0,2946.10
13,14,Nissan,Nissan Kicks,114970,4752,7.7,11.4,9.4,13.7,3006.00
14,15,Fiat,Fiat Pulse,99851,3994,9.1,12.6,10.1,14.7,3808.00
15,16,Fiat,Fiat Fastback,116987,3635,8.4,11.9,10.2,14.6,3688.00
16,17,Peugeot,Peugeot 208,100165,3104,10.4,14.7,11.3,16.3,4156.00
17,18,Citroen,Citroen C3,84795,3030,9.5,13.2,10.3,14.5,3834.00
18,19,Toyota,Toyota Yaris sedan,96208,2505,9.0,13.0,10.6,14.5,3625.60
19,20,Chevrolet,Chevrolet Spin,102005,2026,7.8,11.3,9.1,13.0,3388.00
20,21,Renault,Renault Logan,90283,1923,9.4,14.0,10.2,14.9,3710.50
21,22,Renault,Renault Duster,109774,1801,7.2,10.5,8.1,11.5,3710.50
22,23,Toyota,Toyota Yaris hatch,96208,1609,8.7,12.2,9.8,13.9,3625.60
23,24,Renault,Renault Oroch,94485,1360,7.6,11.1,7.7,11.2,3710.40
24,25,Renault,Renault Stepway,76528,1348,9.3,13.0,9.3,13.7,3650.50
25,26,Fiat,Fiat Fiorino,109529,1159,7.3,10.7,8.3,12.3,3472.00
26,27,Nissan,Nissan Versa,115027,1086,7.8,11.6,10.0,14.1,3336.00

In [7]:
#criando uma nova variavel com a copia da tabela
df_new = df.copy()

#pega o nome do carro, remove a primeira palavra (a marca) e 
# salva o resultado de volta na coluna modelo.
df_new['modelo'] = df_new['modelo'].str.split(' ').str[1:].str.join(' ')

#exibe a planilha
df_new

,Unnamed: 0,montadora,modelo,preco,unidades_vendidas,cidade_alcool,cidade_gasolina,estrada_alcool,estrada_gasolina,custo_revisao
0,1,Volkswagen,Polo,79400,16471,9.3,13.5,10.5,15.0,3578.27
1,2,Hyundai,HB20,82982,12126,8.5,12.5,9.9,14.1,2946.10
2,3,Fiat,Strada,100050,10387,8.4,11.9,9.2,13.3,3540.00
3,4,Chevrolet,Onix,83512,10260,9.4,13.5,11.2,16.0,3696.00
4,5,Fiat,Mobi,62653,8582,9.2,13.5,10.2,15.2,3752.00
5,6,Volkswagen,T-Cross,119620,8553,8.3,10.0,10.0,14.4,4260.70
6,7,Fiat,Argo,75010,7159,9.3,13.4,10.3,14.6,3780.00
7,8,Renault,Kwid,67672,6602,10.8,15.3,11.0,15.7,3162.95
8,9,Chevrolet,Onix Plus,117486,6412,9.6,13.8,12.5,17.6,3696.00
9,10,Volkswagen,Saveiro,95315,5337,8.1,11.7,9.0,12.8,4117.25
10,11,Hyundai,Creta,114010,5314,7.1,10.1,8.1,11.5,3280.16
11,12,Fiat,Cronos,82316,5036,9.9,13.8,11.3,16.0,3780.00
12,13,Hyundai,HB20S,89844,4811,8.5,12.0,9.8,14.0,2946.10
13,14,Nissan,Kicks,114970,4752,7.7,11.4,9.4,13.7,3006.00
14,15,Fiat,Pulse,99851,3994,9.1,12.6,10.1,14.7,3808.00
15,16,Fiat,Fastback,116987,3635,8.4,11.9,10.2,14.6,3688.00
16,17,Peugeot,208,100165,3104,10.4,14.7,11.3,16.3,4156.00
17,18,Citroen,C3,84795,3030,9.5,13.2,10.3,14.5,3834.00
18,19,Toyota,Yaris sedan,96208,2505,9.0,13.0,10.6,14.5,3625.60
19,20,Chevrolet,Spin,102005,2026,7.8,11.3,9.1,13.0,3388.00
20,21,Renault,Logan,90283,1923,9.4,14.0,10.2,14.9,3710.50
21,22,Renault,Duster,109774,1801,7.2,10.5,8.1,11.5,3710.50
22,23,Toyota,Yaris hatch,96208,1609,8.7,12.2,9.8,13.9,3625.60
23,24,Renault,Oroch,94485,1360,7.6,11.1,7.7,11.2,3710.40
24,25,Renault,Stepway,76528,1348,9.3,13.0,9.3,13.7,3650.50
25,26,Fiat,Fiorino,109529,1159,7.3,10.7,8.3,12.3,3472.00
26,27,Nissan,Versa,115027,1086,7.8,11.6,10.0,14.1,3336.00

In [8]:
#agrupando os carros por montadora e calculando a 
# média de preço por montadora e selecionando as 
# 5 primeiras por ordem decrescente

df.groupby('montadora')['preco'].mean().sort_values(ascending=False).head()

montadora
Nissan        114998.500000
Chevrolet     101001.000000
Peugeot       100165.000000
Volkswagen     98111.666667
Toyota         96208.000000
Name: preco, dtype: float64

In [9]:
#Selecionando a coluna custo_revisao e  trazendoem ordem crescente
#os 10 carros com menor custo
df_new.sort_values(by='custo_revisao', ascending=True).head(10)[['montadora','modelo', 'custo_revisao']]

     montadora   modelo  custo_revisao
1      Hyundai     HB20        2946.10
12     Hyundai    HB20S        2946.10
13      Nissan    Kicks        3006.00
7      Renault     Kwid        3162.95
10     Hyundai    Creta        3280.16
26      Nissan    Versa        3336.00
19   Chevrolet     Spin        3388.00
25        Fiat  Fiorino        3472.00
2         Fiat   Strada        3540.00
0   Volkswagen     Polo        3578.27

In [10]:
# Ao usar .loc[], você está pedindo ao Pandas para localizar e
# mostrar as linhas que correspondem àquela lista de índices que 
# a gente encontrou com o groupby e o idxmax()

#=== O QUE CODIGO FAZ ===#
# Agrupa os dados e encontra a linha do carro mais vendido para 
# cada montadora.
# Cria uma nova tabela com base nesses resultados.
# Ordena essa nova tabela pelo número de unidades_vendidas, 
# do maior para o menor.
# Exibe apenas as colunas que você quer ver.

df_new.loc[df_new.groupby('montadora')['unidades_vendidas'].idxmax()].sort_values(by='unidades_vendidas', ascending=False)[['montadora', 'modelo', 'unidades_vendidas']]

     montadora       modelo  unidades_vendidas
0   Volkswagen         Polo              16471
1      Hyundai         HB20              12126
2         Fiat       Strada              10387
3    Chevrolet         Onix              10260
7      Renault         Kwid               6602
13      Nissan        Kicks               4752
16     Peugeot          208               3104
17     Citroen           C3               3030
18      Toyota  Yaris sedan               2505

In [11]:
#VARIAVEIS#
# Custo da gasolina em 2 anos
custoGasolinaPorMes = 150 * 5.50
custoGasolinaPor2Anos = custoGasolinaPorMes * 24

# IPVA em 2 anos
ipva = df_new['preco'] * 0.04
ipvaPor2Anos = ipva * 2

# Custo de revisão em 2 anos
custoRevisaoPor2Anos = df_new['custo_revisao'] * 2

# novas colunas
df_new['consumo_gasolina'] = custoGasolinaPor2Anos
df_new['custo_IPVA'] = ipvaPor2Anos
df_new['custo_revisao'] = custoRevisaoPor2Anos

# Criando a nova coluna 'custo_total'
df_new['custo_total'] = custoGasolinaPor2Anos + ipvaPor2Anos + custoRevisaoPor2Anos

# Exibe as colunas relevantes para verificar o resultado
df_new[['Unnamed: 0','montadora', 'modelo', 'consumo_gasolina', 'custo_IPVA', 'custo_revisao', 'custo_total']].sort_values(by='custo_total', ascending=False).head()

,Unnamed: 0,montadora,modelo,consumo_gasolina,custo_IPVA,custo_revisao,custo_total
5,6,Volkswagen,T-Cross,19800.0,9569.60,8521.4,37891.00
8,9,Chevrolet,Onix Plus,19800.0,9398.88,7392.0,36590.88
15,16,Fiat,Fastback,19800.0,9358.96,7376.0,36534.96
16,17,Peugeot,208,19800.0,8013.20,8312.0,36125.20
21,22,Renault,Duster,19800.0,8781.92,7421.0,36002.92

In [12]:
df_new[['Unnamed: 0','montadora', 'modelo', 'consumo_gasolina', 'custo_IPVA', 'custo_revisao', 'custo_total']].sort_values(by='custo_total', ascending=True).head()

,Unnamed: 0,montadora,modelo,consumo_gasolina,custo_IPVA,custo_revisao,custo_total
7,8,Renault,Kwid,19800.0,5413.76,6325.9,31539.66
4,5,Fiat,Mobi,19800.0,5012.24,7504.0,32316.24
1,2,Hyundai,HB20,19800.0,6638.56,5892.2,32330.76
12,13,Hyundai,HB20S,19800.0,7187.52,5892.2,32879.72
24,25,Renault,Stepway,19800.0,6122.24,7301.0,33223.24